
video {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

canvas {
	display: none;
}

.buttons {
	position: absolute;
	left: 63%;
	align-self: end;
	transform: translateX(-50%);
	padding: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	border-radius: 8px;
}

.buttons button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: transform 0.2s;
}

.buttons button:active {
	transform: scale(0.95);
}

#tomarFoto svg {
	color: #fff;
	background-color: rgba(255, 255, 255, 0.2);
	border: 4px solid #fff;
	border-radius: 50%;
	padding: 1rem;
	height: 80px;
	width: 80px;
}

#tomarFoto:hover svg {
	background-color: rgba(255, 255, 255, 0.4);
}

#gallery svg,
#settings svg {
	height: 40px;
	width: 40px;
	opacity: 0.8;
}

#gallery span,
#settings span {
	font-size: 0.8rem;
	margin-top: 5px;
	opacity: 0.8;
}

/* Loading Overlay */
#loading {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 2000;
	color: white;
}

.spinner {
	border: 4px solid rgba(255, 255, 255, 0.3);
	border-radius: 50%;
	border-top: 4px solid #fff;
	width: 40px;
	height: 40px;
	-webkit-animation: spin 1s linear infinite;
	/* Safari */
	animation: spin 1s linear infinite;
	margin-bottom: 20px;
}

@keyframes spin {
	0% {
			transform: rotate(0deg);
	}

	100% {
			transform: rotate(360deg);
	}
}

#ticketJson {
	margin-top: 12rem;
	margin-left: 1rem;
	position: absolute;
	top: 0;
	width: 20%;
	height: 600px;
	background-color: #1a1a1a;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2000;
	color: white;
}

#ticketJson div#ticketEditor {
	width: 100%;
	height: 100%;
	font-size: 14px;
	background: #111;
	color: #00ff9c;
	border: 1px solid #333;
	padding: 12px;
	border-radius: 8px;
	resize: none;
}

#ticketJson div#ticketEditor::-webkit-scrollbar {
	width: 8px;
}

#ticketJson div#ticketEditor::-webkit-scrollbar-track {
	background: #111;
}

#ticketJson div#ticketEditor::-webkit-scrollbar-thumb {
	background: #333;
}

#ticketJson div#ticketEditor::-webkit-scrollbar-thumb:hover {
	background: #555;
	cursor: grab;
}

#ticketJson div#ticketEditor::-webkit-scrollbar-thumb:active {
	background: #014109;
	cursor: grabbing;
}

#ticketJson.active {
	display: none;
}


#ticketEditor {
	width: 100%;
	height: calc(100% - 70px);
	border-radius: 8px;
	overflow: hidden;
	border: 1px solid #333;
}

#guardar {
	position: absolute;
	top: 0;
	right: 0;
	margin-top:0.5rem;
	margin-right: 0.5rem;
	background-color: transparent;
	fill: #fff;
	border: none;
	cursor: pointer;
}

#guardar:hover {
	fill: #00ff9c;
}

#guardar svg {
	padding: 0;
	height: 40px;
	width: auto;
}