.toolbar {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: hsl(0, 0%, 100%);
}

.toolbarSVGs {
  display: flex;
  gap: 1rem;
  padding: 0.45rem;
}

.toolbarSVGs svg {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  color: hsl(271, 76%, 53%);
}

.tabs {
  display: flex;
  height: 100%;
}

/* ESTILO BOTON GENERAL TOOLBAR */

.tab {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 100%;
  padding: 0 0.5rem;
}

.tab {
  color: hsl(271, 76%, 53%);
  font-weight: 600;
}

.active-tab {
  color: hsl(0, 0%, 100%);
  background-color: hsl(271, 76%, 53%);
  padding: 0.8rem;
}

/* SECTION MAIN */

.tab-content {
  display: none;
}

.tab-content.active {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-self: center;
  width: 95%;
}

.fieldGroup {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sectionMain input {
  padding: 0.5rem;
   
  border: none;
  width: 100%;
}

.sectionMain label {
  color: hsl(0, 0%, 0%);
  padding: 1rem 0 1rem 0;
}

.button {
  align-items: center;
  display: flex;
  cursor: pointer;

}

.tooltip {
  position: absolute;
  background-color: #4f46e5;
  color: #ffffff;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-size: 0.875rem;
  white-space: nowrap;
  transform: translateY(-120%);
  margin-bottom: 0.25rem;
  right: -8px;
  opacity: 0;
  transition: opacity 0.2s ease;
  z-index: 10;
}

.button {
  position: relative;
}

.button:hover .tooltip {
  opacity: 1;
}

.v-active input {
  border: 1px solid red;
  background-color: rgb(255, 225, 143);
}

.validation-errors {
  display: none;
  color: #fff;
  background-color: #585858;
  padding: 2rem 1rem;
  margin-top: 1rem;
  border: 2px solid #fff;
  border-radius: 0.5rem;
  position: relative;
}

.validation-errors.active {
  display: block;
}

.validation-errors ul {
  list-style: none;
}

.validation-errors p {
  font-weight: 700;
  font-size: 1.2rem;
}

.validation-errors .close-validation-errors {
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.close-validation-errors svg {
  fill: hsl(100, 100%, 100%);
  height: 2rem;
  width: 2rem;
}
