.toolbar {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: hsl(0, 0%, 100%);
}

.toolbarSVGs {
  display: flex;
  gap: 1rem;
  padding: 0.45rem;
}

.toolbarSVGs svg {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  color: hsl(271, 76%, 53%);
}

.tabs {
  display: flex;
  align-items: center;
  height: 100%;
}

/* ESTILO BOTON GENERAL TOOLBAR */

.tab {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 100%;
  padding: 0.8rem;
  color: hsl(271, 76%, 53%);
  font-weight: 600;
}

.tab.active-tab {
  color: hsl(0, 0%, 100%);
  background-color: hsl(271, 76%, 53%);
  padding: 0.8rem;
}

/* SECTION MAIN */

.tab-content {
  display: none;
}

.tab-content.active {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  padding: 1rem 0;
  width: 100%;
}

.fieldGroup {
  display: flex;
  flex-direction: column;
}

.sectionMain input {
  padding: 0.5rem;
  border: none;
  width: 100%;
}

.sectionMain label {
  color: hsl(0, 0%, 0%);
  padding: 1rem 0 1rem 0;
}

.button {
  align-items: center;
  display: flex;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  background-color: #4f46e5;
  color: #ffffff;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-size: 0.875rem;
  white-space: nowrap;
  transform: translateY(-120%);
  margin-bottom: 0.25rem;
  right: -8px;
  opacity: 0;
  transition: opacity 0.2s ease;
  z-index: 10;
}

.button {
  position: relative;
}

.button:hover .tooltip {
  opacity: 1;
}

.v-active input {
  border: 1px solid red;
  background-color: rgb(255, 225, 143);
}

.validation-errors {
  display: none;
  color: #fff;
  background-color: #585858;
  padding: 2rem 1rem;
  margin-top: 1rem;
  border: 2px solid #fff;
  border-radius: 0.5rem;
  position: relative;
}

.validation-errors.active {
  display: block;
}

.validation-errors ul {
  list-style: none;
}

.validation-errors p {
  font-weight: 700;
  font-size: 1.2rem;
}

.validation-errors .close-validation-errors {
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.close-validation-errors svg {
  fill: hsl(100, 100%, 100%);
  height: 2rem;
  width: 2rem;
}

.open-gallery {
	width: 150px;
	height: 150px;
}

.fieldGroup img {
	max-width: 150px;
	max-height: 150px;
}

.remove-image-button {
	position: absolute;
	margin-left: 8rem;
	margin-top: -0.6rem;
	cursor: pointer;
	background-color: hsl(0, 0%, 100%);
	color: hsl(0, 0%, 0%);
	width: 30px;
	height: 30px;
	font-size: 0.7rem;
	border-radius: 50%;
	border: 1px solid hsl(0, 0%, 0%);
}

.upload-image-container.single {
	position: relative;
}

.upload-image-container.single .open-gallery {
	width: 150px;
	height: 150px;
	position: absolute;
}

.upload-image-container.single .image-selected-item {
	display: none;
	width: 150px;
	position: absolute;
	height: 150px;
}

.upload-image-container.single .image-selected-item.active {
	display: block;
}

.upload-image-container.multiple {
	/* display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 1rem;
	max-height: 65dvh;
	overflow-y: auto; */
}
.upload-image-container img {
	width: 150px;
	height: 150px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
input[type="file"] {
  cursor: pointer;
}
input[type="file"]::file-selector-button {
  cursor: pointer;
}
input[type="textarea"] {
  cursor: pointer;
  padding: 0.5rem;
  width: 100%;
}
textarea {
  max-height: 200px;
  min-height: 100px;
  width: 100%;
}

button[type="button"]{
	cursor: pointer;
	border: none;
	background-color: hsl(271, 76%, 53%);
	color: hsl(0, 0%, 100%);
	padding: 0.5rem;
}

.locale-bar{
  background-color: hsl(0, 0%, 100%);
  display: flex;
  width: 100%;
}

.locale-inputs{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.full-width {
  flex: 0 0 100%;
}

.half-width {
  flex: 0 0 49.5%;
}

.one-third-width {
  flex: 0 0 32.65%;
}

.one-quarter-width {
  flex: 0 0 24.25%;
}

.minimum-width {
  flex: 0 0 15%;
}

.destroy-button.hidden {
  display: none;
}

.square {
	
}