.table {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.table__header {
  display: flex;
  justify-content: flex-start;
  background-color: hsl(0, 0.00%, 100.00%);
  padding: 0.5rem;
}

.table__header-icon {
  margin-left: 5px;
}

.table__header-icon,
.edit-icon,
.delete-icon,
.clean-icon,
.save-icon,
.table-page-logo {
  width: 30px;
  height: 30px;
  fill: black;
}

.table__header-icon svg:hover,
.edit-icon svg:hover,
.delete-icon svg:hover,
.table-page-logo {

  fill: hsl(0, 0%, 25%);
}

.table__body {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  min-height: 75vh;
  max-height: 75vh;
  overflow-y: scroll;
  padding-right: 1rem;
}

.table__body::-webkit-scrollbar {
  width: 8px;
}

.table__body::-webkit-scrollbar-track {
  background: #e0e0e0;
  /* color del fondo de la barra */
  border-radius: 10px;
}

.table__body::-webkit-scrollbar-thumb {
  background: hsl(271, 75.80%, 52.90%);
  /* color azul del "pulgar" */
  border-radius: 10px;
}

.table__body::-webkit-scrollbar-thumb:hover {
  background: hsl(271, 75.80%, 52.90%);
  /* más oscuro al hacer hover */
}

.table__body-box {
  width: 90%;
}

.table-box__data {
  padding: 15px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  color: hsl(0, 0%, 0%);
  cursor: pointer;
  transition: all 0.2s ease;
}

.table-box__data:hover {
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.082);
}

.table-box__data span {
  color: #000;
  font-weight: bold;
  margin-right: 5px;
}

.table-box__upper-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  background-color: hsl(0, 0.00%, 100.00%);
  border-radius: 10px 10px 0 0;
  padding: 5px;
}

/* Footer de la tabla */
.table__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: hsl(0, 0.00%, 100.00%);
   
}

.table__footer-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.table-page-info {
  color: rgb(0, 0, 0);
}

.pages {
  align-content: center;
  justify-items: center;
}

.pagination-button {
  width: 20px;
  height: 20px;
  fill: rgb(0, 0, 0);
  cursor: pointer;
}

.buttonPages {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

.pagination-button.disabled {
  cursor: not-allowed;
}

.pagination-button.disabled svg {
  fill: hsl(271, 75.80%, 52.90%);
}

.deleteModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl(0, 0%, 100%);
  padding: 1rem;
   
  z-index: 10;
  display: none;
  flex-direction: column;
  gap: 1rem;
}

.deleteButtons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.deleteButtons button {
  padding: 0.5rem;
   
  border: none;
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  background-color: hsl(271, 76%, 53%);
}